#content{
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    flex-direction: column;
    min-height: 600px;
}

.center-middle{
    width: 256px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
h1 { font-size: 24px; text-align: center; }
.center-middle *{
    width: 100%;
    margin-top: 2px;
}

.button{
    width: 100%;
    font-size: 20px;
    border-radius: 8px;
    padding: 8px;
}
#loginButton{
    background-color: green;
    color: white;
    text-decoration: none;
}

#registrationButton{
    background-color: orangered;
    color: white;
    text-decoration: none;
    width: 256px;
}

.notification{
  position: absolute;
  color: green;
  top: 64px;
}
  